
*{
  font-size: 36px;
  }
body {

  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;

}
.App {
  font-family: sans-serif;
  text-align: center;
}

.app-background {
  background-color: #bee3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.background {
  text-align: center;
}

.ListContainer{
  font-size: 1rem;
  padding: 2rem;
  margin-left: 25%;
  align-items: center;
  text-align: left;
}

.box:checked + span{
  text-decoration:line-through
}


.selectButton{
  font-size: 0.5rem;
  border-radius: 10rem;
  opacity: 0.6;
}
.selectButton:hover{
  font-size: 1.3rem;

  opacity: 0.8;
}